*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
.home{
   background: url("assets/background/h_img.jpg")no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   padding: 150px 40px;
   height: auto;
}
.home1{
    /* margin-top: 20%; */
    text-align: center;
    color: #fff;
   

}
.logo{
    margin-bottom: 25px ;

}
.mouse{
    margin:30px  10px ;
}
/* about section */
#about{
    margin: 50px 0;
}

/* services section */
#services{
    background: url("assets/background/s_image.jpg")no-repeat center;
    background-size: cover;
    height: auto;
    padding: 150px ;
}
.services{
    margin-top:25px;
    /* font-size: 20px; */
}
.passage{
    font-size: 1.5rem;
    line-height: 1.5;
}

/* section skills */

#design{
    margin-left: 44%;
}
#development{
    margin-left: 44%;
}
#prdmngt{
    margin-left:44%;
    text-align: center;
}
.passages{
    font-size: 1.1rem;
    line-height: 1.5rem;
}

h3, .designhide, .devhide, .prdhide{
    display: none;
}


/* ============================== portfolio*/
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
width: 100%;
}
.thumbnail{
    margin: 10px;
    position: relative;
}

.games, .blank, .ontario, .diamond, .nature, .fun, .burned-logo, .giraffee{
    height: auto;
    width:auto;
    font-size: 1rem;
    position: absolute;
    border: 10px solid  #fff;
    bottom: 25%;
   padding:30px;
   left: 10%;
   
    }


/* ============================== */
#contact{
    height: auto;
    background-image: url("assets/background/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
input[type=text], input[type=email], #textareamessage{
    background:transparent;
    border: 2px solid #fff;
    margin: 10px;
}
#textareamessage::placeholder, #username::placeholder, #email::placeholder{
    color: #fff;
    font: 600;
}
.form-control{
    border: 1px solid #fff;
    background-color: transparent;
}

